{% extends "base.html" %}
{% block content %}
  <div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ project.get_absolute_url }}"><img src="{{ project.repository.owner.avatar_url }}" alt="Github avatar for {{ project.repository.owner }}" class="avatar">{{ project.repository.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ change.get_absolute_url }}"><img src="{{ change.user.avatar_url }}" alt="Github avatar for {{ change.user }}" class="avatar">{{ change.title }}</a></li>
    </ol>
    <h1>Build {{ build.display_pk }}</h1>

    <dl>
        <dt>Build status</dt>
        <dd>{{ build.get_status_display }}</dd>

        <dt>Build result</dt>
        <dd>{{ build.get_result_display }}</dd>
    </dl>
{% endblock %}
