{% extends "base.html" %}
{% load build_status %}
{% block content %}
  <div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ project.get_absolute_url }}"><img src="{{ project.repository.owner.avatar_url }}" alt="Github avatar for {{ project.repository.owner }}" class="avatar">{{ project.repository.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ change.get_absolute_url }}"><img src="{{ change.user.avatar_url }}" alt="Github avatar for {{ change.user }}" class="avatar">{{ change.title }}</a></li>

    </ol>
    <form method="POST">{% csrf_token %}
    <h1>Build {{ build.commit.display_sha }}
        <a href="{{ change.html_url }}"><i class="fa fa-github exit float-right" aria-hidden="true"></i></a>
        <i id='spinner' class="fa fa-spinner fa-spin fa-fw float-right hidden"></i>
        <i id='error' class="fa fa-exclamation-triangle float-right hidden"></i>
        {% if user.is_superuser %}
        <input id="restart" type="submit" class="btn btn-success float-right control{% if not build.is_finished %} hidden{% endif %}" value="Restart" name="restart">
        <input id="resume" type="submit" class="btn btn-success float-right control{% if not build.is_error %} hidden{% endif %}" value="Resume" name="resume">
        {% endif %}
    </h1>
    </form>

    <dl>
        <dt>Created</dt>
        <dd>{{ build.created|date:"j M Y, H:i" }}</dd>

        <dt>Commit message</dt>
        <dd>{{ build.commit.message }}</dd>

        <dt>Status</dt>
        <dd id='status'>{{ build.get_status_display }}{% if build.error %}: {{ build.error }}{% endif %}</dd>

        <dt>Result</dt>
        <dd id='result'>{% result build.result %}</dd>
    </dl>

    <table class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th class="minimal">Phase</th>
                <th>Task</th>
                <th class="minimal">Status</th>
                <th class="minimal">Result</th>
            </tr>
        </thead>
        <tbody id="tasks">
        {% for task in build.tasks.all %}
            <tr scope="row">
                <td class="minimal">{{ task.phase }}</td>
                <td><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></td>
                <td class="minimal" id='{{ task.slug }}-status'>{{ task.get_status_display }}</td>
                <td class="minimal" id='{{ task.slug }}-result'>{% result task.result %}</td>
            </tr>
        {% endfor %}
        </tbody>
  </table>
{% endblock %}


{% block scripts %}

{% if not build.is_finished %}
function refresh() {
    var xmlhttp=new XMLHttpRequest();

    document.getElementById('spinner').style.display = 'inline'
    document.getElementById('error').style.display = 'none'

    xmlhttp.open("GET", '{{ build.get_status_url }}');
    xmlhttp.onreadystatechange = function() {
        try {
            document.getElementById('spinner').style.display = 'none'
            if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                if (xmlhttp.status == 200) {
                    var response = JSON.parse(xmlhttp.responseText);

                    // Update status
                    var status = document.getElementById('status');
                    status.textContent = response['status']

                    // Update result
                    var result = document.getElementById('result');
                    switch (response['result']) {
                        case 0:
                            result.innerHTML = '{% result 0 %}'
                            break;
                        case 10:
                            result.innerHTML = '{% result 10 %}'
                            break;
                        case 19:
                            result.innerHTML = '{% result 19 %}'
                            break;
                        case 20:
                            result.innerHTML = '{% result 20 %}'
                            break;
                        default:
                            result.innerHTML = '{% result 99 %}'
                            break;
                    }

                    for (var slug in response.tasks) {
                        // Update task status
                        status = document.getElementById(slug + '-status');
                        if (status) {
                            status.textContent = response['tasks'][slug]['status']

                            // Update result
                            result = document.getElementById(slug + '-result');
                            switch (response['tasks'][slug]['result']) {
                                case 0:
                                    result.innerHTML = '{% result 0 %}'
                                    break;
                                case 10:
                                    result.innerHTML = '{% result 10 %}'
                                    break;
                                case 19:
                                    result.innerHTML = '{% result 19 %}'
                                    break;
                                case 20:
                                    result.innerHTML = '{% result 20 %}'
                                    break;
                                default:
                                    result.innerHTML = '{% result 99 %}'
                                    break;
                            }
                        } else {
                            row = document.createElement('tr')
                            row.scope = "row"

                            col = document.createElement('td')
                            col.className = 'minimal'
                            col.textContent = response['tasks'][slug]['phase']
                            row.appendChild(col)

                            col = document.createElement('td')
                            link = document.createElement('a')
                            link.href = response['tasks'][slug]['url']
                            link.textContent = response['tasks'][slug]['name']
                            col.appendChild(link)
                            row.appendChild(col)

                            col = document.createElement('td')
                            col.id = slug + '-status'
                            col.className = 'minimal'
                            col.textContent = response['tasks'][slug]['status']
                            row.appendChild(col)

                            col = document.createElement('td')
                            col.id = slug + '-result'
                            col.className = 'minimal'
                            switch (response['tasks'][slug]['result']) {
                                case 0:
                                    col.innerHTML = '{% result 0 %}'
                                    break;
                                case 10:
                                    col.innerHTML = '{% result 10 %}'
                                    break;
                                case 19:
                                    col.innerHTML = '{% result 19 %}'
                                    break;
                                case 20:
                                    col.innerHTML = '{% result 20 %}'
                                    break;
                                default:
                                    col.innerHTML = '{% result 99 %}'
                                    break;
                            }
                            row.appendChild(col)

                            tasks = document.getElementById('tasks')
                            tasks.appendChild(row)
                        }
                    }

                    if (response['finished']) {
                        document.getElementById('restart').style.display = 'block';
                    } else {
                        window.setTimeout(refresh, 10000);
                    }
                } else {
                    document.getElementById('error').style.display = 'inline'
                    console.log('Error: ' + xmlhttp.statusText)
                    window.setTimeout(refresh(response.nextToken), 30000);
                }
            }
        } catch (e) {
            document.getElementById('error').style.display = 'inline'
            console.log('Error: ' + e)
            window.setTimeout(refresh, 30000)

            document.getElementById('restart').style.display = 'block';
            document.getElementById('resume').style.display = 'block';
        }
    }
    xmlhttp.send();
}

window.setTimeout(refresh, 10000);
{% endif %}
{% endblock %}