{% extends "base.html" %}
{% block content %}
  <div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    </ol>
    <h1><img src="{{ project.repository.owner.avatar_url }}" alt="Github avatar for {{ project.repository.owner }}" class="avatar">{{ project.repository.name }} <a href="{{ project.repository.html_url }}"><i class="fa fa-github exit" aria-hidden="true"></i></a></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Pull Request #</th>
                <th>Author</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    {% for pr in project.repository.pull_requests.open %}
        <tr scope="row">
            <td><a href="{% url 'projects:pull_request' owner=pr.repository.owner.login repo_name=pr.repository.name pr=pr.number %}">PR #{{ pr.number }}</a></td>
            <td><img src="{{ pr.user.avatar_url }}" alt="Github avatar for {{ pr.user }}" class="avatar">{{ pr.user }}</td>
            <td>{{ pr.title }}</td>
        </tr>
    {% endfor %}
        </tbody>
  </table>
{% endblock %}
