{% extends "base.html" %}
{% block content %}
  <div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    </ol>
    <h1>
        <img src="{{ project.repository.owner.avatar_url }}" alt="Github avatar for {{ project.repository.owner }}" class="avatar">{{ project.repository.name }}
        <a class="exit float-right" href="{{ project.repository.html_url }}"><i class="fa fa-github" aria-hidden="true"></i></a>
        <img class="exit float-right" src="{{ project.get_shield_url }}">
    </h1>

    <table class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th class="minimal">#</th>
                <th class="minimal">Author</th>
                <th>Description</th>
                <th class="minimal">Created</th>
                <th class="minimal">Updated</th>
            </tr>
        </thead>
        <tbody>
    {% for change in project.changes.active %}
        <tr scope="row">
            <td class="minimal"><a href="{{ change.get_absolute_url }}">{{ change.title }}</a></td>
            <td class="minimal avatar"><img src="{{ change.user.avatar_url }}" alt="Github avatar for {{ change.user }}" class="avatar">{{ change.user }}</td>
            <td>{{ change.description }}</td>
            <td class="minimal">{{ change.created|date:"j M Y, H:i" }}</td>
            <td class="minimal">{{ change.updated|date:"j M Y, H:i" }}</td>
        </tr>
    {% endfor %}
        </tbody>
  </table>
{% endblock %}
