{% extends "base.html" %}
{% block content %}
  <div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    </ol>
    <h1><img src="{{ project.repository.owner.avatar_url }}" alt="Github avatar for {{ project.repository.owner }}" class="avatar">{{ project.repository.name }} <a href="{{ project.repository.html_url }}"><i class="fa fa-github exit" aria-hidden="true"></i></a></h1>

    <table class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th>#</th>
                <th>Author</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    {% for change in project.changes.active %}
        <tr scope="row">
            <td class="minimal"><a href="{{ change.get_absolute_url }}">{{ change.title }}</a></td>
            <td><img src="{{ change.user.avatar_url }}" alt="Github avatar for {{ change.user }}" class="avatar">{{ change.user }}</td>
            <td>{{ change.description }}</td>
        </tr>
    {% endfor %}
        </tbody>
  </table>
{% endblock %}
