version: '3'

services:
  caddy:
    image: abiosoft/caddy
    command: "${CADDY_OPTIONS} 'proxy / web:8000'"
    ports:
      - "${HTTP_PORT:-8080}:80"
      - "${HTTPS_PORT:-8443}:443"
    volumes:
      - ./.caddy:/root/.caddy
  db:
    image: postgres:9.6.5
    volumes:
      - ./postgres_data:/var/lib/postgresql/data/
    env_file: .env
  redis:
    image: "redis:alpine"
  migrate:
    build: .
    env_file: .env
    command: ./wait-for-it.sh db:5432 -- python manage.py migrate --noinput
    volumes:
      - .:/code
    depends_on:
      - db
  static:
    build: .
    env_file: .env
    command: python manage.py collectstatic --noinput
    volumes:
      - .:/code
    depends_on:
      - db
      - migrate
  web:
    build: .
    env_file: .env
    command: gunicorn --access-logfile - -b 0.0.0.0:8000 config.wsgi
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - migrate
      - static
      - db
      - redis
    stdin_open: true
    tty: true
    environment:
      - REDIS_URL=redis://redis
  celery:
    build: .
    command: celery worker -c 2 -A config --loglevel=INFO
    volumes:
      - .:/code
    depends_on:
      - migrate
      - db
      - redis
    environment:
      - REDIS_URL=redis://redis

volumes:
  postgres_data: