django<1.11
dj-database-url==0.4.1
rho-django-user
gunicorn==19.6.0
psycopg2==2.6.2
whitenoise==3.2
redis==2.10.5
celery==4.0.2
django-storages==1.5.2
boto3==1.4.4
sendgrid_django==4.0.4
requests==2.18.1
github3.py==0.9.6
PyYAML==3.12
python-dotenv==0.6.5
