
/**************************************
 * Basic page layout
 **************************************/

div.container {
    margin-top: 5em;
}

/**************************************
 * Forms
 **************************************/

.form-group label.alert {
  background-color: inherit;
  border: none;
  margin-bottom: 0.5rem;
  padding: inherit;
}

.form-group small.alert {
  background-color: inherit;
  border: none;
  margin-bottom: 0.5rem;
  padding: inherit;
}

.button {
  cursor: pointer;
}

/**************************************
 * Login form
 **************************************/

.form-signin {
  max-width: 30em;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin p {
  margin-top: 1em;
  text-align: center;
}

/**************************************
 * Avatars
 **************************************/

.avatar {
  width: 2em;
  margin-right: 0.5em;
}

/**************************************
 * Exit links
 **************************************/

.exit {
  margin-left: 1em;
}

/**************************************
 * Tables
 **************************************/

.minimal {
  width: 1em;
}

/**************************************
 * Control buttons
 **************************************/

.control {
  margin-left: 1em;
}

/**************************************
 * Logs
 **************************************/

.log pre {
  background-color: black;
  color: lightgray;
  padding: 1em;
}

.hidden {
  display: none;
}

/**************************************
 * Build status
 **************************************/

.error, .fail {
  color: #d9534f;
}

.qualified-pass, .warning {
  color: #f0ad4e;
}

.success, .pass {
  color: #5cb85c;
}

.info, .pending {
  color: #2aabd2;
}

th.result, td.result {
  width: 1em;
  text-align: center;
}
