{% extends "base.html" %}
{% block content %}
  <div>
    <h1>BeeKeeper</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Project</th>
                <th class="minimal"># Open changes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    {% for project in projects %}
            <tr>
                <td class="minimal">
                    <a href="{{ project.get_absolute_url }}">
                        <img src="{{ project.repository.owner.avatar_url }}" alt="Github avatar for {{ project.repository.owner }}">{{ project.repository.full_name }}
                    </a>
                </td>
                <td class="minimal">{{ project.changes.active.count }}</td>
                <td class="minimal"><a href="{{ project.repository.html_url }}"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

{% if user.is_superuser and new_projects %}
    <form method="POST">{% csrf_token %}
    <h2>Repositories awaiting approval</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Project</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    {% for project in new_projects %}
            <tr>
                <td class="minimal"><input type="checkbox" name="projects" value="{{ project.id }}"></td>
                <td class="minimal">
                    <a href="{{ project.get_absolute_url }}">
                        <img src="{{ project.repository.owner.avatar_url }}" alt="Github avatar for {{ project.repository.owner }}" class="avatar">{{ project.repository.full_name }}
                    </a>
                </td>
                <td class="minimal"><a href="{{ project.repository.html_url }}"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    <div>
        <input type="submit" class="btn btn-success float-right control" value="Approve" name="approve">
        <input type="submit" class="btn btn-warning float-right control" value="Ignore" name="ignore">
    </div>
    </form>
{% endif %}
{% endblock %}
